#tests
test
coverage
temp

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
.github

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.vscode
.idea

#src
src
docs
tsconfig.json
typedoc-tsconfig.json
.babelrc.js
.eslintignore